.inner {
  color: white;
  font-size: larger;
  .logo {
    color: white;
    img {
      height: 22px;
    }
  }
  .ant-dropdown-link {
    position: absolute;
    right: 5px;
  }

}

#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: #1A1A1B;
}

.site-layout {
  padding: 0 50px;
  margin-top: 100px;
  .site-layout-background {
    background: #fff;
    padding: 24px;
    min-height: 380px;
  }

}
